/* Top level class for the CartPage component */
.cart-page {
    padding: 20px;
}

.cart-page h2 {
    text-align: center;
    margin-bottom: 24px;
}

.cart-page table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

.cart-page table, 
.cart-page th, 
.cart-page td {
    border: 1px solid #e0e0e0;
}

.cart-page th, 
.cart-page td {
    text-align: left;
    padding: 8px 16px;
}

.cart-page tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cart-page th {
    background-color: #333;
    color: white;
}

.cart-page-button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-page-button:hover {
    background-color: #555;
}

.cart-page img {
    max-width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart-quantity-button {
    background-color:  lightgrey; /* Change this to your preferred color */
    border: none;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cart-quantity-button:hover {
    background-color: darkgray; /* Darken the button color on hover */
}